@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    IF P&C Insurance<br />
    Citadeles street<br />
    <abbr title="Phone">P:</abbr>
    6582828288
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:iveta.zalite@if.lv">iveta.zalite@if.lv</a><br />
</address>