@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <h2>Do You need insurance?</h2>
    <h3> You can buy it here </h3>
    <h4>Please enter your personal data  </h4>
	<p>
		@Html.ActionLink("Personal data", "Create")
	</p>

	<p>
		@Html.ActionLink("My contacts", "Contact") |
		@Html.ActionLink("About", "About")
	</p>

</div>